body{
    
}
.movies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    margin: 0 auto;
    background-color: rgb(50, 71, 71);
    
}

/* Responsividad */
@media (max-width: 600px) {
    .movies {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }
}

img {
    width: 200px;
    height: 300px;
    border-radius: 80px 0 80px 0;
    background: #f8f8f8;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    margin-left: 5px; /* Espacio entre los elementos */
    padding: 10px;
}
div{
    margin: 55px;
    
}